@font-face{
    font-family: 'Rubik-Semibold';
    src: url('Rubik-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;

}
@font-face{
    font-family: 'Rubik-Light';
    src: url('Rubik-Light.ttf');
    font-weight: bold;
    font-style: normal;

}

body {
    background: #212124;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;
    overflow: hidden;
    padding:0px;
    min-height: 100vh;
    margin-bottom: 10VH;
}

h1 {
    font-family: "Rubik-Light";
    font-size: 64px;
    color: #FFF;   
    text-align: center;
}

.content {
    max-width: 900px;
}

.card-title > h3 {
    font-family: "Rubik-Light";
    font-size: 31px;
    color: #FFF;
    text-align: center;
    margin: 0px;
}

.card-title > h4  {
    font-family: "Rubik-Light";
    font-size: 16px;
    /* height: 1.1em; */
    color: #BEBEBF;
    text-align: center;
    margin: 0px;
}

a { 
    border-radius: 9px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    
    margin: 0 22px 0 22px;
    gap: 22px;
}

.card {
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    height: 320px;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.card > .card-content{
    min-width: 10vw;
    /* width: 100vw; */
    border-radius: 9px;
    /* box-sizing: border-box; */
    background-color: #252529;
    flex-grow: 1;
    inset: 1px;
    margin: 1px;
    z-index: 1;
    /* position: absolute; */
    /* inset: 1px; */
    /* display: flex; */
    /* flex-direction: column; */
}

#cards:hover > a > .card::before {
    opacity: 1;
}


.card:hover::after{
    opacity: 1;
}

.card::before, .card::after {
    border-radius: 8px;
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    width:100%;
    height: 100%;

    transition: opacity 500ms;
}
.card::before {
    background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.30) 0%, rgba(217, 217, 217, 0.00) 100%);
    z-index: 0;
}

.card::after {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.04) 0%, rgba(217, 217, 217, 0.00) 100%);
    z-index: 2;
}


.card-image {
    /* opacity: 0.50; */
    height: 70%;
    width: auto;
    display: flex;
    align-items : center;
    overflow: hidden;
    /* border: #FFF; */
}



img, svg {
    max-width:75%;
    max-height:75%;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

svg {
    fill: #FFF;
}

@media only screen and (max-width: 1000px){
    body {
        overflow-y: scroll;
    }
    .card-title > h4 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px){
    body {
        height: 75vh;
        margin: 0;
        /* overflow-y: hidden; */
    }
    #cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .card {
        height: 15vh;
        width: 340px;
        flex-direction: row;
        padding: 1px;
        justify-content: left;
        /* padding-bottom:5px; */
    }

    .card-content {
        display: flex;
        /* flex-grow: 1; */
        flex-shrink: 0;
        margin: 16px;
        padding: 0px;
    }

    h1 {
        font-size: 48px;
    }
    .card-title > h3 {
        text-align: left;
        font-size: 32px;
        /* margin-bottom: 0; */
        /* line-height: 1em; */
    }
    .card-title > h4 {
        text-align: left;
        font-size: 15px;
        /* margin-top: 0; */
        /* margin-top: 0; */

    }
    .card-image{
        width: 60px;
        height: 100%;
        align-items: left;
        /* padding-right: 10px; */
        margin-right: 14px;
        margin-left: 10px;
    }
    .card-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    img, svg {
        max-width:100%;
        max-height: 100%;
    }
}